{% extends 'base.html' %}

{% block title %}

{% if type_of_request == "New" %}
New Category
{% else %}
Update Category
{% endif %}

{% endblock title %}

{% block main-content %}
<h2>{{ type_of_request }} Category </h2>
<form method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit">

    {% if type_of_request == 'New' %}
    Add Category
    {% else %}
    Update Category
    {% endif %}
  </button>
</form>

{% endblock main-content %}

{% block bottom-nav %}

<a class='nav-item btn btn-warning' href="{% url 'home' %}">
  Home
</a>
{% endblock bottom-nav %}